<ol
  class="mt-2 pl-6 list-decimal"
  reversed
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
  start="{{postlistCounter or postslist.length}}"
>
  {% for post in postslist | reverse %}
  <li>
    <a
      class="border-b border-orange-300 text-orange-700 hover:bg-orange-600 hover:text-white transition-colors duration-300 ease-out"
      href="{{ post.url | url }}"
      >{% if post.data.title %}{{ post.data.title }}{% else %}<code
        >{{ post.url }}</code
      >{% endif %}</a
    >
    <time
      class="italic px-1 whitespace-no-wrap"
      datetime="{{ post.date | htmlDateString }}"
      >{{ post.date | htmlDateString }}</time
    >
    {% for tag in post.data.tags %} {%- if collections.tagList.indexOf(tag) !=
    -1 -%} {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a
      data-tag="{{ tag }}"
      class="bg-red-500 text-white text-xs px-1 rounded hover:shadow"
      href="{{ tagUrl | url }}"
      >{{ tag }}</a
    >
    {%- endif -%} {% endfor %}
  </li>
  {% endfor %}
</ol>
