---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<h1>标签 “{{ tag }}”</h1>
<hr />
{% set postslist = collections[ tag ] %} {% include "postslist.njk" %}
